entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["cacert", "cargo", "libiconv", "openssl", "rustc"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Uptime Monitor"

[[workflows.workflow]]
name = "Uptime Monitor"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run main.py --server.port ${PORT:-5000} --server.address 0.0.0.0"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
MONGODB_URI = "mongodb+srv://mosel80708_db_user:WNhLu7aM4MxMkrEE@reverseauction.dkzr8ey.mongodb.net/?appName=reverseAuction"
PORT = "5000"
